* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 900px;
    height: 900px;
    border: 1px darkgray solid;
    padding: 20px;
}
form h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
.divider {
    margin-bottom: 10px;
}
.student-name{
    display: flex;
    gap: 30px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
}
input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 5px;
}
textarea {
    width: 100%;
    margin-bottom: 20px;
}
.uploads {
    margin-bottom: 15px;
}
.submit {
    text-decoration: none;
    padding: 10px 20px;
    background: darkgray;
    color: black;
    border-radius: 5px;
}