* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* --CREATING A GRADIENT BACKGROUND COLOR -- */
    background-image: radial-gradient(circle at top left, red, blue);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    height: 300px;
    background: white;
    margin-top: 15%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(255, 251, 0, 0.5);
}
.container p {
    color: gray;
    font-size: 30px;
    margin-bottom: 10px;
}
.date-input h2 {
    color: blue;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
}
.submit {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid blue;
    border-radius: 4px;
    text-decoration: none;
    color: blue;
}